<div style="float:right; text-align: center; color: #999;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Archelon1DB.jpg" width="500"/>
  <p><cite>Dmitry Bogdanov / <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY-3.0</a></cite></p>
</div>

<%= react_component(:TextField, { name: 'title', maxValues: 3, values: [
    { value: 'Stone to Wake a Serpent', language: 'en' },
    { value: 'Not in Rivers But in Drops', language: 'en' }
]}) %>
<%= react_component(:TextField, { name: 'alternative' }) %>

<h1>About Archelon</h1>

<p>Archelon is the staff-only administrative interface for content in UMD Libraries’ Fedora 4 Repository, and is available to any library staff member who needs to manage the Libraries’ digital items. Archelon uses <a href="http://projectblacklight.org/">Blacklight</a> to facilitate discovery and interaction with items in our repository. It is administered and maintained by Digital Systems &amp; Stewardship (DSS) division within the Libraries. Any issues or requests by library staff should be emailed to <a href="mailto:lib-helpdesk@umd.edu">lib-helpdesk@umd.edu</a>.</p>

<p>Archelon is named for the ancient genus of giant sea turtles <a href="https://en.wikipedia.org/wiki/Archelon"><i>Archelon</i></a>, whose name means “ruler turtle” in Greek. Archelon lived approximately 80.5 million years ago in the shallow seas that covered most of North America at the time. It is the largest ever recorded species of turtle by size, and second largest by weight.</p>
