<h1>React Component Submit</h1>

<h2>Submitted Params</h2>
<% params_to_skip = ['utf8', 'authenticity_token', 'submit', 'controller', 'action'] %>
<ul>
  <% @params.each do |param| %>
    <% key, value = param %>
    <% next if params_to_skip.include?(key) %>
    <li><strong><%= key %></strong>: <%= value %></li>
  <% end %>
</ul>

<hr />

<a href=<%= react_components_url %>>Back to Form</a>