# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# Ignore git directory.
/.git/

# Ignore bundler config.
/.bundle

# Ignore all environment files (except templates).
/.env*
!/.env*.erb

# Ignore all default key files.
/config/master.key
/config/credentials/*.key

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Ignore assets.
/node_modules/
/app/assets/builds/*
!/app/assets/builds/.keep
/public/assets

# UMD Customization

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

.byebug_history

# Ignore minitest-ci reports
test/reports

# Ignore simplecov output
coverage

# Ignore any SSL pem/key files in root
/*.pem
/*.key

# Ignore published vocabularies
# While the "published_vocabularies" directory has been removed, leaving this
# ignore specification in place to eliminate any possibility of the directory
# contents being accidentally added to a Docker image.
/public/published_vocabularies/*.json
/public/published_vocabularies/*.ttl
/public/published_vocabularies/*.nt

# Ignore the imports and exports
/imports/*.zip
/exports/*.zip

# End UMD Customization
