# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/seeds/vagrant.rb

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/public/assets
.byebug_history

# Ignore environment specific files
.env
.env.local
.env.development

# Ignore minitest-ci reports
test/reports

# Ignore simplecov output
coverage

# Ignore any SSL pem/key files in root
/*.pem
/*.key

# Ignore published vocabularies
# While the "published_vocabularies" directory has been removed, leaving this
# ignore specification in place to eliminate any possibility of the directory
# contents being accidentally added to a Docker image.
/public/published_vocabularies/*.json
/public/published_vocabularies/*.ttl
/public/published_vocabularies/*.nt

# Ignore the imports and exports
/imports/*.zip
/exports/*.zip

# Ignore webpack, yarn, and node
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# React Styleguidist
styleguide/

# Docker configuration file
docker-archelon.env
