# Example .env file
# Make a copy of this file named ".env" and fill out the properties
# Note: The .env file should _not_ be checked in to Git!

# File containing server-specific Rails environment variables.
# Do not check into Git!

# --- config/blacklight.yml
# URL of the solr running in the fcrepo-vagrant
SOLR_URL=http://192.168.40.11:8983/solr/fedora4

# --- config/environments/*.rb
# URL of the fcrepo running in the fcrepo-vagrant
FCREPO_BASE_URL = 'https://fcrepolocal/fcrepo/rest/'

# --- config/environments/*.rb
# base URL of the IIIF server (which serves the manifests, images, and viewer)
IIIF_BASE_URL = 'https://iiiflocal/'

# --- config/environments/*.rb
# version of the Mirador Static Viewer
MIRADOR_STATIC_VERSION = '1.1.0'

# Base URL for retrieving files via download urls.
# This should include the entire URL except for the token
RETRIEVE_BASE_URL=http://127.0.0.1:3000/retrieve/

