<h3 id="retrieve_url"><%= object.retrieve_url %></h3>

<div  style="text-align:center">
<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#retrieve_url">
    Copy to clipboard
</button>
</div>