<button id="copy-button" class="btn btn-secondary" data-clipboard-target="#retrieve_url">
  Copy to clipboard
</button>

<script>
window.addEventListener('load', function () {
  const button = document.getElementById('copy-button');
  const clipboard = new ClipboardJS('#copy-button');
  clipboard.on('success', function(e) {
    button.innerHTML = 'Copied!';
    window.setTimeout(function() {button.innerHTML = 'Copy to clipboard'}, 5000);
    e.clearSelection();
  })
})
</script>
