<h1>Download Url</h1>

<p id="notice"><%= notice %></p>

<p>Please provide the following URL to your patron:</p>

<p class="download_url">http://example.com/<%= @download_url.token %></p>

<p>This URL will only work for once, and will automatically expire in one week.</p>

<%= link_to 'Edit', edit_download_url_path(@download_url) %> |
<%= link_to 'Back', download_urls_path %>


