<h1>Download Url</h1>

<p id="notice"><%= notice %></p>

<p>Please provide the following URL to your patron:</p>

<p id="retrieve_url"><%= @retrieve_url %></p>

<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#retrieve_url">
    Copy to clipboard
</button>

<p>This URL will only work for once, and will automatically expire in one week.</p>

<%= link_to 'Back', download_urls_path %>


