<h1>Export Queue</h1>

<div class="umd-table">
  <table class="table">
    <thead>
      <tr>
        <th>Job ID</th>
        <th>Job Name</th>
        <th>User</th>
        <th>Timestamp</th>
        <th># of Records</th>
        <th># of Binaries</th>
        <th>Size of Binaries</th>
        <th>Metadata Format</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    <% @jobs.each do |job| %>
      <%= render partial: 'export_job_table_row', locals: { export_job: job } %>
    <% end %>
    </tbody>
  </table>
</div>
