<footer>
  <div class="<%= container_classes %>">
    <div class="row">
      <div class="col-md-6 col-sm-6">
      </div>
      <div class="col-md-6 col-sm-6" id="common-links">
        <a href="https://umd.edu/web-accessibility">Web Accessibility</a>
      </div>
    </div>
  </div>
</footer>
