<h1>Publication Jobs</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created By</th>
      <th>Created At</th>
      <th>Type</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
     <tr>
      <td> <%= link_to job.id, publish_job_url(job) %></td>
      <td> <%= job.cas_user.cas_directory_id %> </td>
      <td> <%= job.created_at %> </td>
      <td> <%= job.publish == true ? "Publish" : "Unpublish" %> </td>
      <% if job.publish_not_submitted? %>
        <td> Job waiting on submission </td>
      <% elsif job.publish_pending? %>
        <td> Submission Pending  </td>
      <% elsif job.publish_in_progress? %>
        <td> In Progress </td>
      <% elsif job.publish_complete? %>
        <td> Complete  </td>
      <% elsif job.publish_incomplete? %>
        <td> Incomplete  </td>
      <% elsif job.publish_error? %>
        <td> Error  </td>
      <% else %>
        <td> Unknown  </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

