<div class="card text-white bg-danger mb-3" style="padding-top: 10px;">
    <div class="card-header"> Error Retrieving Import Job Info </div>
    <div class="card-body">
       <p> <%= import_job_info.error_message %> <p>
    </div>
  </div>
