<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Error Retrieving Import Job Info</h3>
  </div>
  <div class="panel-body">
    <%= import_job_info.error_message %>
  </div>
</div>
