<%= form_with do %>

  <h2>Required Fields</h2>

  <%= render 'metadata_edit_components', fields: @required_fields, item: @item %>

  <hr>

  <h2>Recommended Fields</h2>

  <%= render 'metadata_edit_components', fields: @recommended_fields, item: @item %>

  <hr>

  <h2>Optional Fields</h2>

  <%= render 'metadata_edit_components', fields: @optional_fields, item: @item %>

  <div class="form-group">
    <input type="submit" name="submit" value="Submit" class="btn btn-primary form-control" />
  </div>
<% end %>
