<h1>Resource Form Submit</h1>

<pre><%= @sparql_update %></pre>

<% if @simulate %>
<h2>Submitted Message</h2>
<pre><%= @headers %>
<%= @submission %></pre>
<% end %>
<hr />

<a href=<%= resource_edit_url(id: params[:id]) %>>Back to Form</a>