<h1>Editing Import Job</h1>

<%= render partial: "import_job_info_panel", locals: {import_job: @import_job} %>


<p>
  <strong>Status:</strong>
  <%= @import_job.status %>
</p>

<%= render partial: "import_job_validation_panel", locals: {import_job: @import_job} %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Resubmit Job</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', import_job: @import_job %>
  </div>
</div>

