<div class="page-header row">
  <h2 class="col-md-8 page-heading"><%= t('blacklight.welcome') %></h2>
</div>

<div class="welcome row">
  <p><%= application_name %> is the administrative interface for assets housed
  in UMD Libraries’ <a href="<%= fcrepo_url %>">Fedora 4 Content Repository</a>.
  Authorized library staff can use this application to search for items in the
  repository, view items and metadata records, and download items.</p>
</div>
