<% # Copied from blacklight/app/views/catalog/_bookmark_control.html.erb -%>
<% if current_or_guest_user %>
  <%-
  # Note these two forms are pretty similar but for different :methods, classes, and labels.
  # but it was simpler to leave them separate instead of DRYing them, got confusing trying that.
  # the data-doc-id attribute is used by our JS that converts to a checkbox/label.
  -%>
  <% if ExportJob.exportable? document %>
    <div class="select-box">
      <% if bookmarked? document %>
        <%= form_tag( bookmark_path( document ), :method => :delete, :class => "bookmark_toggle", "data-doc-id" => document.id) do %>
          <%= submit_tag(t('blacklight.bookmarks.remove.button'), :id => "bookmark_toggle_#{document.id.to_s.parameterize}", :class => "compact-checkbox") %>
        <% end %>
      <% else %>
        <%= form_tag( bookmark_path( document ), :method => :put, :class => "bookmark_toggle", "data-doc-id" => document.id) do %>
          <%= submit_tag(t('blacklight.bookmarks.add.button'), :id => "bookmark_toggle_#{document.id.to_s.parameterize}", :class => "compact-checkbox") %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  &nbsp;
<% end %>
