
<% if is_mirador_displayable(document) %>

  <% content_for :head do -%>
    <style type="text/css">
      #mirador-viewer {
        width: 100%;
        height: 100%;
      }
      #placeholder {
        width: 100%;
        height: 100%;
        padding-top: 190px;
        border: 1px solid #808080;
        vertical-align: middle;
        text-align: center;
        color: #808080;
      }
    </style>
  <% end -%>

  <div style="width: 600px; height: 400px; position: relative;">
    <%= javascript_tag do %>
      window.iiifURLPrefix = '<%= iiif_base_url %>';
      window.manifestPcdmID = 'fcrepo:<%= encoded_id(document) %>';
    <% end %>
    <div id="mirador-viewer">
      <div id="placeholder">Loading Mirador Viewer...</div>
    </div>
    <script src="/mirador-static/build/mirador/mirador.js"></script>
    <script type="text/javascript" src="/mirador-static/js/site.js"></script>
  </div>
<% end %>
