<% if mirador_displayable?(document) %>
  <div class="intrinsic-container ratio-4x3">
    <iframe src="<%= mirador_viewer_url(document, @current_query) %>" allowfullscreen></iframe>
  </div>
<% end %>
