<% if mirador_displayable?(document) %>
  <div class="skip-link">
    <a href="#metadata" data-turbolinks="false">Go to Metadata</a>
    <% if @show_edit_metadata %>
      &nbsp;
      <a href="<%= resource_edit_url(id: @document.id) %>">Edit Metadata</a>
    <% end %>

  </div>
  <div class="image-viewer intrinsic-container ratio-4x3">
    <iframe src="<%= mirador_viewer_url(document, @current_query) %>" allowfullscreen></iframe>
  </div>
<% end %>
