<% provide :app_name, 'File Retrieval' %>
<h2>File Download Disabled</h1>

<p>Our records indicated that this URL has already been used. File download URLs
   are unique, and only allow one download.</p>

<p>If you feel this is in error, please contact the person who gave you the URL.</p>
