<% provide :app_name, 'File Retrieval' %>
<meta http-equiv="REFRESH" content="3; URL=/retrieve/do/<%= @token %>">
<h2>File Download</h1>

<p>Thank you for using the University Libraries File Retrieval service.</p>

<p>Your download should begin in a few seconds. If you experience problems
   with your download, please contact the person who gave you the URL.</p>

<p>
  <strong>
    Note: This URL will only work once. Please do not bookmark or
    distribute this URL.
  </strong>
</p>
