.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover {
    color: $white;
    text-decoration: none;
    background-color: $umd-red;
}
