.facet-content input.filter {
    display: block;
    margin-bottom: .5em;
}
.facet-content ul.with-filter {
    padding-top: 10px;
    max-height: 372px;
    overflow-y: auto;
    -ms-overflow-style: none;
    padding-right: .75em;
    margin-right: -16px;
}
