.umd-title {
  color: #fff;
  font-size: 2em;
  text-align: center;
  padding-left: 40px;
  text-decoration: none;
}

.umd-table {
  overflow: auto;
  border-collapse: collapse;
  width: 100%;
  height: 500px;
}

.umd-table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.umd-table th td {
  padding: 8px 16px;
}

.umd-table th {
  background:#eee;
}

.umd-table td {
  vertical-align: middle;
}

.publish-controls {
  display: inline;
}

.hl {
  background-color: rgba(255, 255, 0, .25);
}

.sidebar-list {
  list-style-type: none;
  padding-top: 1em;
  padding-left: 1em;
  overflow-x: hidden;
  overflow-y: auto;
}
