@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch";
@import 'blacklight/blacklight';
@import 'umd_lib_environment_banner';
@import 'custom';
@import 'publish_job';

$footer-content-height: 25px;
$footer-padding-height: 10px;
$footer-border-height: 1px;
$footer-height: $footer-content-height + (2 * $footer-padding-height);

.multivalued-field-value {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.image-viewer {
    margin-top: 1em;
    margin-bottom: 1em;
}

// based on https://benmarshall.me/responsive-iframes/
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.ratio-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.ratio-4x3 {
  padding-bottom: 75%;
}

/* 1x1 Aspect Ratio */
.ratio-1x1 {
  padding-bottom: 100%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

// footer configuration
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}

#viewport {
    min-height: 100%;
    position: relative;
    padding-bottom: $footer-height;
}

footer {
    background-color: #f5f5f5;
    border-top: $footer-border-height solid #999;
    color: #555;
    padding: $footer-padding-height 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-content-height + (2 * $footer-padding-height);

    a:link, a:visited {
        color: #035e8c;
    }
}

#common-links {
    text-align: right;
}

.select-box {
  float: left;
}

.select-box * div{
  padding-top: 0 !important;
}

.select-box * label{
  min-width: 0 !important;
}

.select-box * input{
  margin-top: 2px !important;
}

.select-all {
  margin-right: 4px !important;
}

.bookmarksTools {
  padding-bottom: 15px;
}

.bookmarksTools > li {
  padding-right: 10px;
}

.bookmarksTools > li > a {
  padding: 8px 12px;
}

// Bootstrap 4 CSS Class
.p-3 {
  padding: $spacer !important;
}

.pl-4 {
  padding-left: $spacer * 1.5 !important;
}

.ml-5 {
  margin-left: $spacer * 3 !important;
}

.mt-n2 {
  margin-top: -($spacer * .5) !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.nav-tabs {
  margin: 0;
  padding: 0;
  border: 0;
}

.tab-pane {
  box-shadow: 0 0 2px rgba(0,0,0,.4);
  border-radius: 3px;
  padding: 15px;
}

.tab-content {
  margin-bottom: 15px;
}

// Styling for select box on the item detail page
.item-select-view .checkbox {
  min-height: 0 !important;
}

.item-select-view input {
  margin-top: 4px !important;
  margin-left: -15px !important;
  transform: scale(1.5);
}

.item-select-view .btn-primary:hover {
  border-color: #c91010 !important;
  cursor: inherit !important;
}

.item-select-view .btn-primary:active {
  background-image: linear-gradient(#ec1515, #c91010 60%, #b60e0e);
  border-color: #c91010 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  cursor: inherit !important;
  text-decoration: none;
}
