@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch";
@import 'blacklight/blacklight';
@import 'custom';

.multivalued-field-value {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

// based on https://benmarshall.me/responsive-iframes/
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.ratio-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.ratio-4x3 {
  padding-bottom: 75%;
}

/* 1x1 Aspect Ratio */
.ratio-1x1 {
  padding-bottom: 100%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
