.logo img {
  height: 50px;
  margin: 10px 30px 10px 5px;
  float: left;
}

.navbar-brand-um {
  height: 40px;
  padding-top: 15px;
  float: left;
}
.navbar-brand-um a, .navbar-brand-um a:hover, .navbar-brand-um a:active, .navbar-brand-um div.nolink {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
}
