@charset "UTF-8";

.navbar-default {
    border-bottom: 1px solid #9a0c0c;
}
.logo img {
    height: 50px;
    margin: 10px 30px 10px 5px;
    float: left;
}
.navbar-brand-um {
    height: 40px;
    padding-top: 15px;
    float: left;
}
.navbar-brand-um a, .navbar-brand-um a:hover, .navbar-brand-um a:active, .navbar-brand-um div.nolink {
    color: #fff;
    font-size: 2em;
    text-decoration: none;
}
#search-navbar .search-query-form {
    float: right;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}
.facet_limit-active>.panel-heading {
    /* remove panel heading green color #73A839 */
    background-color: #555;
}
.text-success, .facet-values li .selected {
    color: #c91010;
}
.page-header {
    margin-top: 0;
}
#sidebar, #facets {
    padding-bottom: 0;
}
.welcome {
    margin: 2px;
}
.facets-toggle .icon-bar {
    background-color: #9a0c0c;
}
@media (min-width: 992px) {
    .col-md-8, #search-navbar .search-query-form {
        width: 35%;
    }
}

@media (max-width: 768px) {
    .col-md-8, #search-navbar .search-query-form {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .logo img {
        height: 45px;
        margin: 10px 20px 5px 5px;
    }
    .navbar-brand-um a, .navbar-brand-um a:hover, .navbar-brand-um a:active {
        font-size: 1.5em;
    }
}

/* Make the hit highlight text bold */
.document-metadata > dd > em {
    font-weight: bold;
    font-style: normal;
}

/* Make dropdown button in navbar consistent with other buttons */
.navbar-nav .dropdown-toggle {
    color: #ffffff;
    background-color: transparent !important;
    background-image: none !important;
    border: 0px !important;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    color: #ffffff;
}

.navbar-nav .dropdown-toggle:hover {
    color: #ffffff;
    background-color: #720909 !important;
    border-radius: 0px;
}

.navbar-nav .dropdown-toggle:focus {
    color: #ffffff;
    background-color: #720909 !important;
    border-radius: 0px;
}

#download_url_title_input {
  width: 100%;
}
#download_url_notes_input {
  width: 100%;
}

/* forms */
textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.btn {
  width: unset
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
}

.field_with_errors .form-control {
  /* color is state-danger-text */
  border: 2px solid #a94442;
}

.validation_error {
  /* color is state-danger-text */
  border: 2px solid #a94442;
}

#retrieve_url {
  text-align: center;
}

#download_url_search {
  /* Set to match the default Bootstrap pagination margin */
  margin: 20px 0;
}

#download_url_search .form-group {
  /* Set to match the default Bootstrap pagination margin */
  padding-left: 10px;
  padding-right: 10px;
}

/* Active job states */
.export_job_status_pending, .export_job_status_in_progress,
.import_job_status_validate_starting, .import_job_status_import_starting,
.import_job_status_validate_pending, .import_job_status_import_pending,
.import_job_status_validate_in_progress, .import_job_status_import_in_progress {
  color: #000000;
  font-weight: bold;
}

/* Error job states */
.export_job_status_export_error, .export_job_status_partial_export,
.import_job_status_validate_error, .import_job_status_validate_failed,
.import_job_status_import_error, .import_job_status_import_incomplete {
  color: #d83935;
}

/* Success job states */
.export_job_status_export_complete,
.import_job_status_validate_success, .import_job_status_import_complete
{
  color: #03ab3a;
}

.export-job-status {
    display: grid;
    grid-template-areas: "state download";
    grid-column-gap: 1em;
}
.export-job-state {
    grid-area: state;
}
.export-job-download {
    grid-area: download;
}

.retry-import {
    text-align: center;
    border-top: 1px solid;
    padding: .5em;
}

.item-created > .item-status {
    background-color: lightgreen;
    font-weight: bold;
}
.item-modified > .item-status {
    background-color: lightblue;
}
.item-unchanged > .item-status {
    background-color: lightgrey;
    color: #4C4C4C;
}

.panel-vocabulary {
  margin-top: 10px;
}

.panel-vocabulary .h2 {
  margin: 5px;
}

 /* Tooltip from https://www.w3schools.com/howto/howto_css_tooltip.asp */
 /* Renamed to "umd_tooltip" to avoid conflict with "tooltip" definitions in other CSS includes */
 /* Tooltip container */
 .umd_tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  opacity: 1;
}

/* Tooltip text */
.umd_tooltip .umd_tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  margin-left: 0px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.umd_tooltip .umd_tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.umd_tooltip:hover .umd_tooltiptext {
  visibility: visible;
  opacity: 1;
}

.descriptive-metadata-values {
    margin: 0;
    padding: 0;
}
.descriptive-metadata-value {
    list-style-type: none;
}

.publish-controls {
  display: inline-block;
  margin-left: 1em;
}
