@charset "UTF-8";

.navbar-default {
    border-bottom: 1px solid #9a0c0c;
}
.logo img {
    height: 50px;
    margin: 10px 30px 10px 5px;
    float: left;
}
.navbar-brand-um {
    height: 40px;
    padding-top: 15px;
    float: left;
}
.navbar-brand-um a, .navbar-brand-um a:hover, .navbar-brand-um a:active, .navbar-brand-um div.nolink {
    color: #fff;
    font-size: 2em;
    text-decoration: none;
}
#search-navbar .search-query-form {
    float: right;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}
.facet_limit-active>.panel-heading {
    /* remove panel heading green color #73A839 */
    background-color: #555;
}
.text-success, .facet-values li .selected {
    color: #c91010;
}
.page-header {
    margin-top: 0;
}
#sidebar, #facets {
    padding-bottom: 0;
}
.welcome {
    margin: 2px;
}
.facets-toggle .icon-bar {
    background-color: #9a0c0c;
}
@media (min-width: 992px) {
    .col-md-8, #search-navbar .search-query-form {
        width: 35%;
    }
}

@media (max-width: 768px) {
    .col-md-8, #search-navbar .search-query-form {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .logo img {
        height: 45px;
        margin: 10px 20px 5px 5px;
    }
    .navbar-brand-um a, .navbar-brand-um a:hover, .navbar-brand-um a:active {
        font-size: 1.5em;
    }
}

/* Make the hit highlight text bold */
.document-metadata > dd > em {
    font-weight: bold;
    font-style: normal;
}

/* Make dropdown button in navbar consistent with other buttons */
.navbar-nav .dropdown-toggle {
    color: #ffffff;
    background-color: transparent !important;
    background-image: none !important;
    border: 0px !important;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    color: #ffffff;
}

.navbar-nav .dropdown-toggle:hover {
    color: #ffffff;
    background-color: #720909 !important;
    border-radius: 0px;
}

.navbar-nav .dropdown-toggle:focus {
    color: #ffffff;
    background-color: #720909 !important;
    border-radius: 0px;
}

#download_url_title_input {
  width: 100%;
}
#download_url_notes_input {
  width: 100%;
}

/* forms */
textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.btn {
  width: unset
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
}

.field_with_errors .form-control {
  /* color is state-danger-text */
  border: 2px solid #a94442;
}

#retrieve_url {
  text-align: center;
}

#download_url_search {
  /* Set to match the default Bootstrap pagination margin */
  margin: 20px 0;
}

#download_url_search .form-group {
  /* Set to match the default Bootstrap pagination margin */
  padding-left: 10px;
  padding-right: 10px;
}

.export_job_status_in_progress {
  color: #000000;
  font-weight: bold;
}

.export_job_status_failed {
  color: #d83935;
}

.export_job_status_ready {
  color: #03ab3a;
}