// Place all the styles related to the publish_job controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tablePublishJob {
    overflow: auto;
    border-collapse: collapse;
    width: 100%;
    height: 500px;
}

.tablePublishJob thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.tablePublishJob th td {
    padding: 8px 16px;
}

.tablePublishJob th {
    background:#eee;
}
